$bg_color: #272733;
$header_color: rgba(#10101d, 0.9);
$footer_color: #3d4050;
$white: #ffffff;
$white2: #bbbbbb;
$black: #10101d;
$black_light: #2a2b30;
$black_form: #272733;
$grey: #c3c3c3;
$grey-border: #6f6d7b;

$blue-logo: #42a9ed;
$blue-menu: #43abf0;
$blue: #3e9cdc;
$blue_deep: #286690;