.product {
  display: flex;
  justify-content: space-between;
  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.product__item {
  max-width: 183px;
  text-align: center;
  font-family: $fontsLato;
  font-size: 16px;
  line-height: 20px;
}